<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
        <link href="/public/css/login.css" rel="stylesheet" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <meta name='viewport' content='width=device-width, initial-scale=1'/>
        <meta charset='UTF-8'>
        <title>Login</title>
    </head>
    <body>
        <div id="particles-js">
            <div id="panel">
                <h2 style="text-align: center;">Login</h2>
                <div class='form'>
                    <form action='/login' method='GET'>
                        <input type='text' class='input' name='email' placeholder='Email'><br>
                        <input type='password' class='input' name='password' placeholder='Password'><br>
                        <button type='submit' class='submit'>Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/public/js/small.js"></script>
        <script type="text/javascript" src="/public/js/particles.min.js"></script>
        <script type="text/javascript" src="/public/js/particles.js"></script>
    </body>
</html>
