<!DOCTYPE html>
<html lang='en'>
    <head>
        <link href='/public/css/styles.css' rel='stylesheet' type='text/css'/>
        <link rel='stylesheet' href='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css'>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous'></script>
        <script src='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js'></script>
        <meta name='viewport' content='width=device-width, initial-scale=1'/>
        <meta charset='UTF-8'>
    </head>

    <body>
        <div id="portfolio">
            <h1>Portfolio</h1>
            <table class="majornews">
                <tr>
                    <th>Stock Ticker</th>
                    <th>Company Name</th>
                    <th>Buy Price</th>
                    <th>Current Price</th>
                    <th>Overall Sentiment</th>
                </tr>
                <tr>
                    <td>AAPL</td>
                    <td>Apple Inc.</td>
                    <td>$100.00</td>
                    <td>$150.00</td>
                    <td>45%</td>
                </tr>
                <tr>
                    <td>MSFT</td>
                    <td>Microsoft Corp.</td>
                    <td>$100.00</td>
                    <td>$150.00</td>
                    <td>45%</td>
                </tr>
                <tr>
                    <td><input type='text' class='input' name='ticker'  placeholder='Ticker'></td>
                    <td><input type='text' class='input' name='company' placeholder="Company"></td>
                    <td><input type='text' class='input' name='buy_price' placeholder="Price Bought"></td>
                    <td><input type='text' class='input' name='shares'  placeholder="# of Shares"></td>
                    <td><input type="text" class='input' id="datepicker" name='date' placeholder='Date Purchased'</td>
                </tr>
                <!-- <tr>
                    <td valign='bottom' align='left'>
                        <button>
                            Add Stock
                        </button>
                    </td>
                </tr> -->
            </table>
            <div class='add_button'>
                <button class='add_stock'>Add Stock</button>
            </div>
        </div>

        <div class='error'>
            <h3 class='center'></h3>
        </div>
    </body>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/public/js/stock.js"></script>
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://www.blackrock.com/tools/api/js/hackathon"></script>
</html>
